
{% extends 'baseindex.html' %}


{% block title %} Post Details {% endblock title %}

{% block postdetail %}



   {% for i in data %}

 <table>
        <tr>
            <td>
                <div id="tilefield">
                    <h3>{{ i.title }}</h3>
                </div>

                <div id="timefield">
                    <p>Post Uploaded {{ i.time }} {{ i.time | timesince }} ago</p>
                    <p>
                        <a href="{% url 'deletepost' i.id %}">Delete This Post</a>
                    </p>
                </div>

                <div id="photofield">
                    <img src="{{ i.photo1.url }}" alt="image" width="200px" height="200px">
                    <img src="{{ i.photo2.url }}" alt="image" width="200px" height="200px">
                    <img src="{{ i.photo3.url }}" alt="image" width="200px" height="200px">
                </div>

                <div id="bodyfield">
                    <p>{{ i.body }}</p>
                </div>
            </td>
            
        </tr>
    
        <tr>
            
        </tr>
    </table>    

    {% endfor %}

{% endblock postdetail %}